@font-face {
    font-family: Minecraft-Ten;
    src: url("./fonts/minecraft-ten-font/MinecraftTen-VGORe.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: Minecraft-Regular;
    src: url("./fonts/minecraft-font/MinecraftRegular-Bmg3.otf") format("opentype");
    font-style: normal;
}

:root{
    --green-grass-1:  rgb(90,137,0);
    --greendark-grass-1: rgb(80,117,0);
    --dark-1: rgb(15,25,25);
}

*{
    color: white !important;
}

body{
    overflow-x: hidden;
    font-family: "Minecraft-Regular";
    /* background-color: rgb(152,108,76); */
    background-color:var(--dark-1) ;
}

.bg-dark-1{
    background-color: var(--dark-1);
}

.font-minecraft-ten{
    font-family: "Minecraft-Ten";
}

.font-minecraft-reg{
    font-family: "Minecraft-Regular";
}

.navbar{
    /* background-color: rgb(106,155,31); */
    background-color: var(--green-grass-1);
}

.navbar ul{
    /* background-color: rgb(106,155,31); */
    background-color: var(--green-grass-1);
}

.navbar .navbar-brand{
    font-family: Minecraft-Ten;
}

.navbar svg{
    margin: 0.4vw;
    transition: 0.3s;
}

.navbar svg:hover{
    scale: 1.5;
    transition: 0.3s;
}

.navbar input{
    background-color: var(--greendark-grass-1);
}

.navbar input:focus{
    background-color: var(--greendark-grass-1);
}

.navbar .dropdown-item:hover{
    background-color: var(--greendark-grass-1);
}

.info{
    color: white;
    font-size: 1.2rem;
    border: 5px solid black;
}

/* Backgrounds */
.bg-stone{
    background-image: url(../images/stone.jpg);
    background-size: 250px 250px;
    background-repeat: repeat;
}

.bg-spruce{
    background-image: url(../images/spruce_plank.jpg);
    background-repeat: repeat;
    background-size: 100px 100px;
}

.bg-bricks{
    background-image: url(../images/bricks.jpg);
    background-repeat: repeat;
    background-size: 150px 150px;
}
/* Form controller */
.form-stone input.form-control{
    background-color: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(5px);
    border: 2px solid rgb(50, 50, 50)
}

.form-stone button.btn-primary{
    background-color: rgb(44,44,52);
    border-color: rgba(0, 0, 0, 0.589);
}

.form-control{
    background-color: black;
}

.form-control:focus{
    outline: none !important;
    box-shadow: none !important;
    border-color: inherit !important;
    background-color: black;
}

textarea.form-control{
    min-height: 20vh;
}