.section-comm>div {
    --bgcolor: rgba(55, 55, 55, 0.7);
    --bgcolor-2: rgba(70, 70, 70, 0.5);
    backdrop-filter: blur(10px);
    margin: 1rem 0.5rem;
    padding: 0.25rem 0.5rem;
    position: relative;
    background-image: linear-gradient(var(--bgcolor), var(--bgcolor-2));
}

hr {
    margin-top: 0;
    height: 5px;
    background-color: white;
    border: none;
    opacity: 0.75;
}